.Cell {
  height: 100px;
  width: 100px;
  border-radius: 10px;
  background-color: #282c34;
  transition: background-color 0.5s ease;
  cursor: pointer;
}

.Cell-lit {
  background-color: rgba(219, 251, 255, 0.952);
}

